.project-card {
  height: 100vh;
  width: 80%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.container-div {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  margin: auto;
  width: 80%;
}
