.backLog-container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.backlog-component-container {
  height: 100vh;
}
.renderedResults-container {
  height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.tasksHeaders-container {
  display: flex;
  justify-content: space-evenly;
}
